blockquote {
  padding: 16px 0 16px 24px !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}

img {
  max-width: 100% !important;
}

#biography_editor_ifr {
  height: 100% !important;
}

.biography-content {
  font-family: 'Verdana' !important;
}

.background {
  background: url('/static/img/Bibliographya.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 100%;
  overflow: hidden;
}

.fab-menu {
  min-width: 200px !important;
  position: fixed !important;
  bottom: 80px !important;
  right: 50px !important;
  top: unset !important;
  left: unset !important;
}

.sidebar {
  height: auto !important;
  top: auto !important;
  z-index: inherit;
  width: 230px !important;
  left: unset !important;
  position: fixed;
  background-color: transparent !important;
}

.bib-a {
  color: #007bff !important;
  text-decoration: none !important;
  background-color: transparent !important;
  -webkit-text-decoration-skip: objects !important;
}


.bib-container {
  margin: auto !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 960px !important;
}

.bib-mobile-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bib-mobile-container .flex {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bib-mobile-container .layout:only-child {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bib-a:hover {
  color: #0056b3 !important;
  text-decoration: underline !important;
  background-color: transparent !important;
  -webkit-text-decoration-skip: objects !important;
}

.title {
  text-decoration: none !important;
}

.word-break-all {
  word-break: break-all;
}

.word-break-word {
  word-break: break-word;
}

.biography-card-title {
  padding-right: 60px;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

